@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#card {
  background: url("/public/images/my.jpg");
}

#search {
  background: url("/public/images/search.svg");
  background-repeat: no-repeat;
}

#home {
  background: url("/public/images/home.svg");
}

#clipboard {
  background: url("/public/images/clipboard.svg");
}

#add {
  background: url("/public/images/add.svg");
}

#edit {
  background: url("/public/images/edit.svg");
}

#logout {
  background: url("/public/images/logout.svg");
  background-repeat: no-repeat;
}

#gambar {
  background: url("/public/images/gambar.svg");
  background-repeat: no-repeat;
}

#detail-bg {
  background: url("/public/images/detail.jpg");
  background-size: cover;
}

#back {
  background: url("/public/images/back.svg");
  background-repeat: no-repeat;
}

#location {
  background: url("/public/images/location.svg");
  background-repeat: no-repeat;
}

#message {
  background: url("/public/images/massage.svg");
  background-repeat: no-repeat;
}

#phone {
  background: url("/public/images/phone.svg");
  background-repeat: no-repeat;
}

.active .icon {
  color: blue;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: "";
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

table {
  min-width: 1101px;
}

.table-container {
  max-height: 800;
  overflow-x: scroll;
}

/* Lebar dan Warna Scroll */
::-webkit-scrollbar {
  width: 10px;
  height: 26px;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 12px;
  padding-top: 20px;
}

::-webkit-scrollbar-track {
  background-color: #e8e8e8;
  border-radius: 12px;
}

/* Animasi saat Scroll */
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

@media only screen and (min-width: 1368px) {
  table {
    overflow-x: hidden;
  }
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
}
